---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout title={title} description={description}, pubDate={pubDate}>
	<article>
		<div class="hero-image">
			{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<div class="tags">
					{tags && <span>tags: </span>}
					{tags && tags.map((tag) => <a style="padding: 0.25em;" href={`/tags/${tag}`}>{tag}</a>)}
				</div>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</BaseLayout>
