---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout title={title} description={description}, pubDate={pubDate}>
	<article class="h-entry">
		<span class="p-summary" hidden>{description}</span>
		<span class="p-author" hidden>Jon Guymon</span>
		<div class="hero-image">
			{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<span class="dt-published"><FormattedDate date={pubDate} /></span>
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <span class="dt-updated"><FormattedDate date={updatedDate} /></span>
							</div>
						)
					}
				</div>
				<h1 class="p-name">{title}</h1>
				<div class="tags">
					{tags && <span>tags </span>}
					{tags && tags.map((tag: string) => <a style="padding: 0.25em;" href={`/tags/${tag}`} class="p-category">{tag}</a>)}
				</div>
				<hr />
			</div>
			<div class="e-content">
				<slot />
			</div>
		</div>
	</article>
</BaseLayout>
